<ion-header>
  <ion-toolbar color="primary">
    <ion-searchbar (ionInput)="getItems($event)" [(ngModel)]="sourceText" debounce="3000" animated="true"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div padding-vertical text-center *ngIf="loading else content">
    <ion-spinner></ion-spinner>
  </div>

  <ng-template #content>
    <ion-list>
      <ion-item-divider *ngIf="sourceText">{{sourceText}}</ion-item-divider>
      <ion-item><h3 *ngFor="let result of results" dir="rtl">{{ result }}</h3></ion-item>
    </ion-list>
  </ng-template>
  <!-- <button ion-button color="primary" (click)="grabPhoto()">Grab Photo</button> -->
</ion-content>
